@tailwind base;
@tailwind components;
@tailwind utilities;


.text-1-line {
    overflow          : hidden;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* start showing ellipsis when 3rd line is reached */
    white-space       : pre-wrap;
    /* let the text wrap preserving spaces */
}

.text-2-line {
    overflow          : hidden;
    display           : -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* start showing ellipsis when 3rd line is reached */
    white-space       : pre-wrap;
    /* let the text wrap preserving spaces */
}

.text-5-line {
    overflow          : hidden;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* start showing ellipsis when 3rd line is reached */
    white-space       : pre-wrap;
    /* let the text wrap preserving spaces */
}