// .header-btn {
//     padding         : 16px 20px;
//     font-size       : 16px;
//     font-weight     : 500;
//     border          : none;
//     background-color: #001219;
//     color           : white;
//     cursor          : pointer;

//     &:hover {
//         background-color: white;
//         color           : #001219;
//     }
// }
.btn-contact{
    background-color: #BF211A;
}

.header-btn {
    color  : white !important;
    cursor : pointer;
    padding: 3px 15px !important;
}

.header-btn:hover {
    color: #F0CE88 !important;
}

.header-btn-active {
    // background-color: white !important;
    color           : #F0CE88 !important;
    font-weight     : 700;
}

.home-header {
    display: flex !important;
}

.home-header--show {
    display: flex !important;
}

.home-header--hidden {
    display: flex !important;
}

@media only screen and (min-width: 600px) {
    .home-header--show {
        display   : flex;
        position  : fixed;
        transition: transform 0.8s ease-out;
        transform : translateY(0);
    }

    .home-header--hidden {
        transition: transform 0.8s ease-out;
        transform : translateY(-100%);
    }
}