.header-btn {
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #001219;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: #001219;
    }
}

.header-btn-active {
    background-color: white;
    color: #001219;
}
